.ets-container{
    padding-right:10px;
}
.ets-header{
    background:#ddd;margin:30px;padding:15px;
    -webkit-box-shadow: 4px 4px 45px 0px rgba(0,90,255,0.57);
    -moz-box-shadow: 4px 4px 45px 0px rgba(0,90,255,0.57);
    box-shadow: 4px 4px 45px 0px rgba(0,90,255,0.57);
    text-align: center;
}
.ets-header h1 {
    color: #333;
    padding: 10px;
}
.ets-left {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}
.ets-left-inside {
    margin: 20px;
    padding: 10px;
    background:#ddd;
    -webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.5);
    -webkit-transition: -webkit-box-shadow 0.5s;  /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}
.ets-left-inside:hover {
    -webkit-box-shadow: 4px 4px 45px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 45px 0px rgba(0,0,0,1);
    box-shadow: 4px 4px 45px 0px rgba(0,0,0,1);
}
.ets-right {
    display: inline-block;
    width: 35%;
    vertical-align: top;
}
.ets-right-inside {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background:#ddd;
    -webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.5);
    -webkit-transition: -webkit-box-shadow 0.5s;  /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}
.ets-right-inside:hover {
    -webkit-box-shadow: 4px 4px 45px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 45px 0px rgba(0,0,0,1);
    box-shadow: 4px 4px 45px 0px rgba(0,0,0,1);
}
.easy-icon{
    color:#005aff;
    float:left;
    height:100%;
    font-size: 59px;
    margin-left: 50px;
    margin-top: 10px;
}
